<header>
<div class="topbar">

  <img src="Images/logo-left.png" class="logo left">

  <div class="title">
    Arduino Guide
  </div>

  <div class="account-buttons">

    <button
      class="account-btn create"
      onclick="createGuideAccount()"
      title="Create Account"
      aria-label="Create Account File">
      💾
    </button>

    <button
      class="account-btn load"
      onclick="openGuideAccount()"
      title="Load Account File"
      aria-label="Load Account">
      📂
    </button>

  </div>

</div>

  <nav>

    <a href="Arduino%20Guide.html#home">
      Home
    </a>


    <div class="dropdown">

      <button class="dropdown-btn" onclick="toggleDropdown(this, event)">

        <span class="dropdown-title">
          Board
        </span>

        <span class="dropdown-arrow">
          ▾
        </span>

      </button>


      <div class="dropdown-menu">

        <a href="Arduino%20Guide.html#board" onclick="selectLink(this)">
          Board
        </a>

        <a href="Arduino%20Guide.html#uno" onclick="selectLink(this)">
          Arduino Uno 3D
        </a>

        <a href="Arduino%20Guide.html#hardware" onclick="selectLink(this)">
          Hardware
        </a>

        <a href="Arduino%20Guide.html#hardwarevi" onclick="selectLink(this)">
          Hardware Visual
        </a>

      </div>

    </div>


    <a href="Arduino%20Guide.html#more">
      Arduino Explained
    </a>


    <a href="Examples.html#examples">
      Examples
    </a>


    <span class="nav-spacer"></span>


    <a href="https://darkshadow-dev.github.io/community/Arduino%20Community.html">
      Community
    </a>


    <a href="Arduino Code.html">
      Code beta
    </a>


    <span class="nav-spacer"></span>


    <a href="Arduino Tutorial.html#home">
      Tutorials
    </a>


    <a href="Arduino Quiz.html">
      Quizes
    </a>


    <a href="Feedback.html#about">
      Feedback
    </a>



    <div class="dropdown">

      <button class="dropdown-btn" onclick="toggleDropdown(this, event)">

        <span>
          Extended
        </span>

        <span class="dropdown-arrow">
          ▾
        </span>

      </button>


      <div class="dropdown-menu">

        <a href="Arduino%20Guide%20Extra.html#more">
          More of all
        </a>

        <a href="Arduino%20Download.html#download">
          Cli Download
        </a>
  
        <a href="Important.html#important">
	  Error fixing
	</a>

        <a href="Arduino%20Talking.html#Talk">
          Talking about Guide
        </a>

        <a href="Guidelines%20More.html#home">
          More from us
        </a>

        <a href="Arduino%20Overview.html#home">
          Guide Over-View
        </a>

        <a href="Arduino Testing.html#home">
          Guide tests

        </a>

      </div>

    </div>


  </nav>

</header>


